<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
      <span class="my-title-toolbar">{{'contentWeb.songs.editSongs.title' | i18next}}</span>
    </h2>
  </div>
</md-toolbar>
<md-content class="my-form-content">
  <form name="projectForm" novalidate class="my-form">
    <input type="hidden" class="form-control" ng-model="songCtrl.oldSong.id"/>
    <md-input-container>
      <label>{{'contentWeb.songs.editSongs.songName' | i18next}}</label>
      <input required="" name="songName" ng-model="songCtrl.oldSong.name">

      <div ng-messages="projectForm.songName.$error">
        <div ng-message="required">{{'contentWeb.songs.editSongs.requiredSongName' | i18next}}</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>{{'contentWeb.songs.editSongs.artistName' | i18next}}</label>
      <input name="clientName" ng-model="songCtrl.oldSong.artist">
    </md-input-container>

    <!--<div class="my-upload-data btn">-->
    <!--<span>Upload</span>-->
    <!--<input type="file" file-model="songCtrl.oldSong.file" class="custom-file-input"/>-->
    <!--</div>-->
    <!--<input placeholder="Choose song" disabled="disabled" value="{{songCtrl.oldSong.file.name}}"/>-->

    <div class="my-button-normal">
      <md-button ng-disabled="!projectForm.$valid" ng-click="songCtrl.saveSong(songCtrl.oldSong)"
                 class="md-raised md-primary">{{'applyButton' | i18next}}
      </md-button>
      <md-button ng-click="songCtrl.changeStateToManage()" class="md-raised">{{'cancelButton' | i18next}}</md-button>
    </div>
  </form>
</md-content>