$dark-primary-color = rgb(48, 63, 159)
$primary-color = rgb(63, 81, 181)
$light-primary = rgb(197, 202, 233)
$text-icons = rgb(255, 255, 255)
$accent-color = rgb(255, 152, 0)
$primary-text = rgb(33, 33, 33)
$secondary-text = rgb(114, 114, 114)
$divider-color = rgb(182, 182, 182)
