/*container*/
* {
  margin: 0;
  padding: 0;
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}
.my-container .my-nameApp-bar {
  background-color: #512da8;
  color: #fff;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.14), 0 4px 5px 0 rgba(0,0,0,0.098), 0 1px 10px 0 rgba(0,0,0,0.084);
}
.my-container .my-nameApp-bar .md-toolbar-tools {
  font-size: 34px;
  margin-left: 36px;
}
.my-container {
  height: 100%;
}
.my-form-content {
  overflow: hidden;
}
.my-footer {
/*position: absolute;*/
/*bottom: 0px;*/
/*left: 0px;*/
/*right: 0px;*/
  text-align: center;
  background-color: #512da8;
  font-size: 13px;
}
.my-footer p {
  margin: 20px;
  color: #fff;
}
md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 200px !important;
  width: 80vw !important;
  max-width: 200px !important;
}
.my-side-left {
  background-color: #673ab7;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.14), 0 4px 5px 0 rgba(0,0,0,0.098), 0 1px 10px 0 rgba(0,0,0,0.084);
}
.my-side-left nav {
  height: 500px;
}
.my-side-left nav > a.my-link {
  border: 0 !important;
  outline-color: transparent;
}
.my-content-wrapper {
  position: relative;
}
/*-----------------------------------------------*/
.menu-Btn {
  position: absolute;
  top: 8px;
  border: none;
  width: 48px;
  height: 48px;
  margin: 0 8px;
  outline: none;
  background-color: transparent;
}
.my-button-dangerous {
  color: #f00 !important;
}
.my-button-normal {
  margin: 4px;
  text-align: right;
  width: auto !important;
  font-weight: 500;
}
.my-button-normal .md-button.md-default-theme.md-primary.md-raised[disabled] {
  background-color: rgba(0,0,0,0.12);
}
.my-button-normal .md-button.md-default-theme.md-primary.md-raised {
  background-color: #536dfe;
}
.my-button-normal .md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover {
  background-color: #536dfe;
}
.my-button-accent-color {
  color: #fff !important;
  background-color: #536dfe !important;
}
.my-upload-data {
  position: relative;
  overflow: hidden;
  margin: 10px;
  color: rgba(0,0,0,0.87);
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.26);
}
.my-upload-data input.custom-file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}
/*normal screen*/
@media (min-width: 680px) {
  .menu-Btn {
    display: none;
  }
}
@media (max-width: 680px) {
  .my-side-left {
    margin: 0;
  }
  .my-side-left md-sidenav {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.14), 0 4px 5px 0 rgba(0,0,0,0.098), 0 1px 10px 0 rgba(0,0,0,0.084);
  }
}
md-toolbar.md-default-theme .md-button {
  width: auto;
  color: #fff;
  font-size: 24px;
  padding: 0 6px;
  height: auto;
  line-height: 0;
}
md-toolbar.md-default-theme .md-button i {
  vertical-align: middle;
}
md-toolbar.md-default-theme .md-button span {
  font-size: 14px;
}
/*change icon of breadcrumb*/
.breadcrumb {
  color: #212121;
  font-size: 24px;
}
.breadcrumb > li + li:before {
  content: " > ";
}
/*-------------------------
	The menu
--------------------------*/
nav {
  display: block;
/*margin:60px auto 45px;*/
/*background-color:#5597b4;*/
/*box-shadow:0 1px 1px #ccc;*/
/*border-radius:2px;*/
}
nav a {
  display: block;
  padding: 18px 30px;
  color: #fff !important;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none !important;
  line-height: 1;
  -webkit-transition: background-color 0.28s;
  -moz-transition: background-color 0.28s;
}
.selected-menu {
  color: #fff !important;
  background: #536dfe;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.14), 0 4px 5px 0 rgba(0,0,0,0.098), 0 1px 10px 0 rgba(0,0,0,0.084);
}
md-toolbar.md-default-theme {
  background-color: #673ab7;
}
md-sidenav {
  background-color: #673ab7;
}
.my-title-toolbar {
  color: #fff;
  font-size: 20px;
}
@media (max-width: 380px) {
  .title-manage-toolbar {
    display: none;
  }
}
a {
  color: #536dfe;
}
.my-headerTable-and-table {
  height: auto;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.14), 0 4px 5px 0 rgba(0,0,0,0.098), 0 1px 10px 0 rgba(0,0,0,0.084);
}
form.my-form {
  margin: 16px;
}
form.my-form .md-input-focused input {
  border-color: #536dfe !important;
}
md-checkbox.md-default-theme.md-checked .md-icon {
  background-color: #536dfe !important;
}
