@import 'constant.styl'

/*container*/
* 
  margin: 0;
  padding: 0;
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif


.my-container
  .my-nameApp-bar
    background-color $dark-primary-color
    color $light-primary
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084);
    .md-toolbar-tools
      font-size 34px
      margin-left 36px

.my-container 
  //margin-right: 8px;
  //margin-left: 8px;
  //margin-bottom 60px
  height: 100%;
  //margin-bottom: -60px;


.my-form-content 
  overflow: hidden;


//.my-container:after {
//  content: "";
//  display: block;
//}
//
//.my-footer, .my-container:after {
//  height: 60px;
//}

.my-footer 
  /*position: absolute;*/
  /*bottom: 0px;*/
  /*left: 0px;*/
  /*right: 0px;*/
  //position fixed
  //margin-right: 8px;
  //margin-left: 8px;
  //margin-top: 8px;
  //margin-bottom 8px
  //border: solid #E8E8E8 3px;
  text-align: center;
  background-color $dark-primary-color
  font-size 13px


.my-footer p 
  margin: 20px;
  color $light-primary


.my-content-app 
  //border: solid #E8E8E8 3px;
  //margin-top: 8px;


md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active 
  min-width: 200px !important;
  width: 80vw !important;
  max-width: 200px !important;


.my-side-left 
  background-color $primary-color
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084);

  nav
    height 500px

  nav > a.my-link
    border: 0 !important;
    outline-color: transparent;


.my-content-wrapper 
  position: relative;

/*-----------------------------------------------*/
.menu-Btn
  position absolute
  top 8px
  border: none;
  width 48px
  height 48px
  margin: 0 8px;
  outline none
  background-color: transparent;


.my-button-dangerous 
  color: red !important;


.my-button-normal
  margin 4px
  text-align right
  width auto !important
  font-weight 500

  .md-button.md-default-theme.md-primary.md-raised[disabled]
    background-color rgba(0,0,0,0.12)
  .md-button.md-default-theme.md-primary.md-raised
    background-color $accent-color
  .md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover
    background-color $accent-color

.my-button-accent-color
  color $light-primary !important
  background-color $accent-color !important

.my-upload-data
  position: relative;
  overflow: hidden;
  margin: 10px;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(280, 280, 280);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .26);


.my-upload-data input.custom-file-input 
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  //filter: alpha(opacity = 0);


/*normal screen*/
@media (min-width: 680px)
  .menu-Btn
    display: none

// small screen
@media (max-width: 680px)
  .my-side-left
    margin 0

    md-sidenav
      box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084);


//.md-icon-button.my-button-accent {
//  width: auto;
//  color #000000
//  font-weight bold
//}

md-toolbar.md-default-theme .md-button
  width: auto;
  color $light-primary
  font-size 24px
  padding 0 6px
  height auto
  line-height 0

  i
    vertical-align middle
  span
    font-size 14px

/*change icon of breadcrumb*/
.breadcrumb
  color $primary-text
  font-size 24px

.breadcrumb > li + li:before 
  content: " > "


/*-------------------------
	The menu
--------------------------*/
nav 
  display: block;
  /*margin:60px auto 45px;*/
  /*background-color:#5597b4;*/
  /*box-shadow:0 1px 1px #ccc;*/
  /*border-radius:2px;*/


nav a 
  display: block;
  padding: 18px 30px;
  color: $light-primary !important;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none !important;
  line-height: 1;

  -webkit-transition: background-color 0.28s;
  -moz-transition: background-color 0.28s;


.selected-menu 
  color: $light-primary !important;
  background $accent-color
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084)


md-toolbar.md-default-theme 
  background-color $primary-color


md-sidenav
  background-color $primary-color

.my-title-toolbar
  color $light-primary
  font-size 20px

@media (max-width: 380px)
  .title-manage-toolbar
    display none

a
  color $accent-color

.my-headerTable-and-table
  height: auto
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084)

form.my-form
  margin 16px
  .md-input-focused input
    border-color $accent-color !important


md-checkbox.md-default-theme.md-checked .md-icon
  background-color $accent-color !important
