@import '../../../node_modules/nib/lib/nib'
@import 'constant.styl'

body
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif

.my-container
  .my-nameApp-bar
    background-color $dark-primary-color
    color $light-primary
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084);

    .my-language-option
      position absolute
      right 0
      width auto
      font-size 14px
      .md-select-label
        width 100px
      md-select:not([disabled]):focus .md-select-label
        border-bottom-color $accent-color
      span
        color white

    .menu-Btn
      position absolute
      top 8px
      border: none;
      width 48px
      height 48px
      margin: 0 8px;
      background-color: transparent;
      z-index 2
    .menu-Btn:focus
      outline transparent

    .contain-of-top-toolbar
      display block
      width 85%
      position relative
      .border-image-of-top-toolbar
        display none
      .text-of-top-toolbar
        font-size 28px
        margin-left 36px
        display inline
        position absolute
        top 16px
        left 10px

    @media(min-width 700px)
      .menu-Btn
        display none
      .contain-of-top-toolbar
        .border-image-of-top-toolbar
          display block
          border-radius 50%
          background-color white
          overflow hidden
          height 48px
          width 48px
          margin-left 8px
          position: absolute
          top 8px
          .image-of-top-toolbar
            height 60px
            width 60px
        .text-of-top-toolbar
          top 14px
          font-size 34px


.my-container
  //margin-right: 8px;
  //margin-left: 8px;
  //margin-bottom 60px
  height: 100%;
  //margin-bottom: -60px;

.my-box-search
  width 100%

.my-form-content
  overflow: hidden;

.my-drop-down-menu
  display none

.my-footer
  text-align: center;
  background-color $dark-primary-color
  font-size 13px


.my-footer p
  margin: 20px;
  color $light-primary

.my-content-app
  //border: solid #E8E8E8 3px;
  //margin-top: 8px;

.md-sidenav-left[md-component-id="left"]
  min-width: 200px;
  max-width: 200px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084);

.full-screen
  display none

@media(min-width: 700px)
  .md-sidenav-left[md-component-id="left"]
    box-shadow none

  @media(min-width: 710px)
    .full-screen
      display inline


.my-side-left
  background-color $primary-color
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084);

  nav.nav-menu-sidenav
    height 150px

  nav.nav-menu-sidenav .my-link
    border: 0
    outline-color: transparent;

  /*-------------------------
  The menu
  --------------------------*/
  nav
    display: block;

  nav a
    display: block;
    padding: 18px 24px;
    color: $light-primary
    font-weight: bold;
    font-size: 16px;
    text-decoration: none
    line-height: 1;

.my-content-wrapper
  position: relative;

.my-button-dangerous
  color: red


.my-button-normal
  margin 4px
  text-align right
  width auto
  font-weight 500

  .md-button.md-default-theme.md-primary.md-raised[disabled]
    background-color rgba(0,0,0,0.12)
  .md-button.md-default-theme.md-primary.md-raised
    background-color $accent-color
  .md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover
    background-color $accent-color

.my-button-accent-color.md-button.md-raised
  color $light-primary
  background-color $accent-color

.my-button-accent-color.md-button.md-raised:not([disabled]):hover
  background-color $accent-color

.my-button-accent-color.md-button.md-raised:not([disabled]).md-focused
  background-color $accent-color

.my-upload-data
  position: relative;
  overflow: hidden;
  margin: 10px;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(280, 280, 280);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .26);


.my-upload-data .custom-file-input
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  //filter: alpha(opacity = 0);

.my-toolbar .my-action-toolbar
  .md-button
    width: auto;
    font-size 24px
    padding 0 6px
    height auto
    line-height 0
    color $light-primary
    i
      vertical-align middle
    span
      font-size 14px

  .md-button[disabled]
    color: rgba(0,0,0,0.26);
    cursor: not-allowed;

/*change icon of breadcrumb*/
.breadcrumb
  color $primary-text
  font-size 24px

.breadcrumb > li + li:before
  content: " > "

.selected-menu
  color: $light-primary
  background $accent-color
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084)


md-toolbar.md-default-theme
  background-color $primary-color


md-sidenav
  background-color $primary-color

.my-title-toolbar
  color $light-primary
  font-size 20px

//menu dropdown
.my-action-toolbar
  display none

.my-drop-down-menu
  display inline
  text-align right
  max-width 50px
  .icon-menu-drop-down
    color $light-primary
    font-size 24px
    vertical-align middle
.content-of-menu-drop-down
  color: rgba(0, 0, 0, 0.6);
  .button-of-menu-drop-down
    font-size 15px
    font-weight 500
    .icon-of-items-menu-drop-down
      margin 10px 6px
  .button-of-menu-drop-down[disabled]
    color: rgba(0,0,0,0.26);


@media (min-width: 380px)
  .my-action-toolbar
    display block
  .my-drop-down-menu
    display none

a
  color $accent-color

.my-headerTable-and-table
  height: auto
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084)

.my-form
  margin 16px
  md-input-container:not(.md-input-invalid).md-input-focused .md-input
    border-color $accent-color

md-checkbox.md-default-theme.md-checked .md-icon
  background-color $accent-color

md-checkbox:not([disabled]).md-primary.md-checked .md-icon
  background-color $accent-color
