@import 'constant.styl'

/*container*/
* {
  margin: 0;
  padding: 0;
  font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif
}

.my-container
  .my-nameApp-bar
    background-color $dark-primary-color
    color $text-icons

.my-container {
  margin-right: 8px;
  margin-left: 8px;
  //margin-bottom 60px
  height: 100%;
  //margin-bottom: -60px;
}

.my-form-content {
  overflow: hidden;
}

//.my-container:after {
//  content: "";
//  display: block;
//}
//
//.my-footer, .my-container:after {
//  height: 60px;
//}

.my-footer {
  /*position: absolute;*/
  /*bottom: 0px;*/
  /*left: 0px;*/
  /*right: 0px;*/
  //position fixed
  //margin-right: 8px;
  //margin-left: 8px;
  margin-top: 8px;
  margin-bottom 8px
  border: solid #E8E8E8 3px;
  text-align: center;
}

.my-footer p {
  margin: 20px;
}

.my-content-app {
  border: solid #E8E8E8 3px;
  margin-top: 8px;
}

md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 200px !important;
  width: 80vw !important;
  max-width: 200px !important;
}

.my-side-left {
  box-shadow: none;
  border: solid #E8E8E8 3px;
  margin-right: 8px;
  margin-top: 8px;
}

.my-content-wrapper {
  position: relative;
}

nav > a.my-link {
  border: 0 !important;
  outline-color: transparent;
}

/*-----------------------------------------------*/
.menu-Btn {
  border: none;
  margin-left: 16px;
  background-color: transparent;
}

.my-button-dangerous {
  color: red !important;
}

.my-button-normal
  //color $primary-color !important

.my-upload-data {
  position: relative;
  overflow: hidden;
  margin: 10px;
  color: rgba(0,0,0,0.87);
  background-color: rgb(280,280,280);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.26);
}

.my-upload-data input.custom-file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  //filter: alpha(opacity = 0);
}



/*normal screen*/
@media (min-width: 500px) {
  .menu-Btn {
    display: none;
  }
}

// small screen
@media (max-width: 500px) {
  .my-side-left {
    border: none
    margin 0px
  }
}

.md-icon-button.my-button-accent {
  width: auto;
  //color $accent-color !important
  font-weight bold
  //text-transform: none;
}

/*change icon of breadcrumb*/
.breadcrumb
  color $primary-text

.breadcrumb > li + li:before {
  content: " > "
}

/*-------------------------
	The menu
--------------------------*/
nav {
  display: block;
  /*margin:60px auto 45px;*/
  /*background-color:#5597b4;*/
  /*box-shadow:0 1px 1px #ccc;*/
  /*border-radius:2px;*/
}

nav a {
  display: block;
  padding: 18px 30px;
  color: #000000 !important;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none !important;
  line-height: 1;

  -webkit-transition: background-color 0.28s;
  -moz-transition: background-color 0.28s;
}

.selected-menu {
  color: $text-icons !important;
  background $primary-color
}

/*button*/
.md-button {
  width auto
  font-weight bold
  //text-transform: none;
}

.my-button {
  text-align: right;
}