<md-sidenav class="md-sidenav-left" md-component-id="left"
            md-is-locked-open="$mdMedia('min-width: 700px')">

    <nav class="nav-menu-sidenav">

        <!-- When a link in the menu is clicked, we set the active variable -->

        <a href="#/songs" class="my-link my-songs" ng-click="toggleSidenav('left');setSelectedMenu('Songs')" ng-class="{'selected-menu' : menus.selectedMenu === 'Songs'}">SONGS</a>
        <a href="#/playlist" class="my-link my-playlists" ng-click="toggleSidenav('left');setSelectedMenu('Playlists')" ng-class="{'selected-menu' : menus.selectedMenu === 'Playlists'}">PLAYLISTS</a>
    </nav>

</md-sidenav>