<div ng-controller="RowController as rowCtrl">
  <md-button ng-click="rowCtrl.showAnimal(row)" class="my-icon-button button-edit-of-table" aria-label="Edit">
    <i class="fa fa-pencil-square-o my-icon"></i>
    <span class="full-screen">Click</span>
  </md-button>
  <!--<md-button ng-click="superTableCtrl.getExternalScope().showAnimal(row)" class="my-icon-button button-edit-of-table" aria-label="Edit">-->
    <!--<i class="fa fa-pencil-square-o my-icon"></i>-->
    <!--<span class="full-screen">Click</span>-->
  <!--</md-button>-->
</div>