<div ng-controller="CheckboxHeaderController as checkboxHeaderCtrl">
  <th class="my-th checkbox-col">
    <md-checkbox ng-model="checkboxHeaderCtrl.animalService.cache.checkedAll" ng-change="checkboxHeaderCtrl.clickMarkAll()" md-no-ink=""
                 aria-label="Checkbox all" class="md-primary">
    </md-checkbox>
  </th>
  <!--<th class="my-th checkbox-col">-->
    <!--<md-checkbox ng-model="superTableCtrl.getExternalScope().markAll" ng-change="superTableCtrl.getExternalScope().clickMarkAll()" md-no-ink=""-->
                 <!--aria-label="Checkbox all" class="md-primary">-->
    <!--</md-checkbox>-->
  <!--</th>-->
</div>