$dark-primary-color = #512DA8
$primary-color = #673AB7
$light-primary = #FFFFFF
$text-icons = #D1C4E9
$accent-color = #536DFE
$primary-text = #212121
$secondary-text = #727272
$divider-color = #B6B6B6