<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
      <span class="my-title-toolbar">Choose Songs</span>
    </h2>
  </div>
</md-toolbar>
<md-content class="my-form-content">
  <md-subheader class="md-primary header-show-songs">
    {{playlistCtrl.numberSelectedSongs}} songs
    <md-checkbox class="checkbox-add-all-song" ng-model="playlistCtrl.selectedAllSongs"
                 ng-change="playlistCtrl.clickCheckboxSelectedAllSongsOnPageChooseSongs()">Add all song
    </md-checkbox>
  </md-subheader>
  <md-list class="layout-padding my-listSong-in-playlist" resize type="h" value-Drop="420">
    <md-list-item class="md-2-line" ng-repeat="song in playlistCtrl.allSongCopy">
      <img ng-src="images/Dozo.jpg" class="face" ng-show="!song.check">
      <img ng-src="images/checkbox.jpg" class="face" ng-show="song.check">

      <div class="md-list-item-text list-items">
        <md-checkbox class="md-secondary" ng-model="song.check"
                     ng-change="playlistCtrl.clickCheckboxOfSongOnPageChooseSongs(song.check)" ng-show="false"></md-checkbox>
        <h3 class="name-song-in-playlist">{{ song.name }}</h3>
        <p class="artist-song-in-playlist">{{song.artist}}</p>
      </div>
      <md-divider md-inset ng-if="!$last" class="item-list-divider"></md-divider>
    </md-list-item>
  </md-list>
</md-content>
<md-divider class="last-divider"></md-divider>
<div class="my-back-button my-button-normal">
  <md-button ng-click="playlistCtrl.applyChooseSongs(playlistCtrl.beforeState, playlistCtrl.allSongCopy)"
             class="md-raised my-button-accent-color">Apply
  </md-button>
  <md-button ng-click="playlistCtrl.cancelChooseSongs(playlistCtrl.beforeState)"
             class="md-raised">Cancel
  </md-button>
</div>