<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <h2 show-gt-md="">
      <span class="my-title-toolbar title-manage-toolbar">Manage Playlist</span>
    </h2>
    <span flex="1"></span>
    <md-button ng-show="!playlistCtrl.showSearch" ng-click="playlistCtrl.changeStateToAdd()"
               class="md-icon-button my-button-accent" aria-label="Add">
      <i class="fa fa-plus"></i>
      <span class="mobileScreen" show-gt-md="">Add</span>
    </md-button>
    <md-button ng-show="!playlistCtrl.showSearch"
               ng-click="playlistCtrl.showConfirmDeleteMultiple($event)"
               ng-disabled="!playlistCtrl.checkToShowButtonDelete" class="md-icon-button my-button-accent"
               aria-label="Delete">
      <i class="fa fa-trash-o"></i>
      <span class="mobileScreen">Delete</span>
    </md-button>
    <md-button ng-show="!playlistCtrl.showSearch" ng-click="playlistCtrl.setIsSearch()"
               class="md-icon-button my-button-accent" aria-label="Search">
      <i class="fa fa-search"></i>
      <span class="mobileScreen">Search</span>
    </md-button>

    <!--search song-------------------------------------------------------->
    <div ng-show="playlistCtrl.showSearch">
      <!--directive search-->
      <my-search ng-model="playlistCtrl.querySearch.value"
                 close="playlistCtrl.setIsNotSearch()"></my-search>

    </div>
  </div>
</md-toolbar>
<!--table song-->
<md-content flex="50" class="dataTable">
  <my-table column="playlistCtrl.column" list-data="playlistCtrl.playlists"
            name-table="Playlist" when-click-button-edit="playlistCtrl.changeStateToEdit(data)"
            when-click-button-delete="playlistCtrl.showConfirmDeleteSingle($event, data)"
            when-select-item-of-table="playlistCtrl.setChoosePlaylistOnRow(data, key)"
            query-search="playlistCtrl.querySearch" show-toast="playlistCtrl.showSongsByToast(data)">
  </my-table>
</md-content>