<table id="table" class="table table-hover table-mc-light-blue my-table">
    <thead>
    <tr>
        <th class="my-th checkbox-col">
            <md-checkbox ng-model="markAll" ng-change="toggleMarkAll()" md-no-ink=""
                         aria-label="Checkbox all" class="md-primary">
            </md-checkbox>
        </th>
        <th class="my-th {{title.className}}" ng-repeat="title in column">{{title.name}}</th>
        <th class="my-th action-col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="data in listData | filter: querySearch.value"
        ng-class="{'my-select-data' : data.check === true}">

        <td class="my-td checkbox-col" ng-click="setChooseRow(data, $event)">
            <md-checkbox ng-model="data.check" ng-change="clickCheckbox()" ng-click="$event.stopPropagation()"
                         md-no-ink=""
                         aria-label="Checkbox" class="md-primary">
            </md-checkbox>
        </td>

        <td class="my-td {{col.className}}" ng-click="setChooseRow(data, $event)" ng-right-click="runData(data, $event)"
            lick ng-repeat="col in column">{{ data[col.key] }}

            <!--<md-tooltip>-->
                <!--Insert Drive-->
            <!--</md-tooltip>-->
        </td>

        <td class="my-td action-col" ng-click="setChooseRow(data, $event);$event.stopPropagation();">
            <md-button ng-click="editData(data)" class="md-icon-button my-button"
                       aria-label="Edit">
                <i class="fa fa-pencil-square-o fa-2x my-icon"></i>
                <span class="mobileScreen">Edit</span>
            </md-button>
            <md-button ng-click="deleteItemFromTable($event, data);$event.stopPropagation();"
                       class="md-icon-button my-button mobileScreen" aria-label="Delete">
                <i class="fa fa-trash-o fa-2x my-icon"></i>
                <span>Delete</span>
            </md-button>
        </td>
    </tr>
    </tbody>
</table>

<!--get songs-->
<!--query search-->
