<table id="table" class="table table-hover table-mc-light-blue my-table" resize-table type="{{tableCtrl.nameTable}}">
    <thead>
    <tr>
        <th class="my-th checkbox-col">
            <md-checkbox ng-model="tableCtrl.markAll" ng-change="tableCtrl.toggleMarkAll()" md-no-ink=""
                         aria-label="Checkbox all" class="md-primary">
            </md-checkbox>
        </th>
        <th class="my-th {{title.className}}" ng-repeat="title in tableCtrl.column">{{title.name}}</th>
        <th class="my-th action-col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="data in tableCtrl.listData | filter: {'name' : tableCtrl.querySearch.value}"
        ng-class="{'my-select-data' : data.check === true}" ng-click="tableCtrl.setChooseRow(data, $event);$event.stopPropagation();">

        <td class="my-td checkbox-col">
            <md-checkbox ng-model="data.check" ng-change="tableCtrl.clickCheckbox(data)" ng-click="$event.stopPropagation()"
                         md-no-ink=""
                         aria-label="Checkbox" class="md-primary">
            </md-checkbox>
        </td>

        <!--ng-right-click="runData(data, $event)"-->
        <td class="my-td content-table {{col.className}}"
            ng-repeat="col in tableCtrl.column">{{ data[col.key]}}

        </td>

        <td class="my-td action-col button-in-action-col">
            <md-button ng-click="tableCtrl.editData(data)" class="my-icon-button"
                       aria-label="Edit">
                <i class="fa fa-pencil-square-o my-icon"></i>
                <span class="full-screen">Edit</span>
            </md-button>
            <md-button ng-click="tableCtrl.deleteItemFromTable($event, data);$event.stopPropagation();"
                       class="my-icon-button full-screen" aria-label="Delete">
                <i class="fa fa-trash-o my-icon"></i>
                <span>Delete</span>
            </md-button>
        </td>
    </tr>

    <tr ng-if="tableCtrl.listData.length === 0" class="tr-no-data-in-table">
        <td class="td-no-data-in-table">No {{tableCtrl.nameTable}}</td>
    </tr>
    </tbody>
</table>

<!--get songs-->
<!--query search-->
