@import '../../../../node_modules/nib/lib/nib'
@import 'constant.styl'

.table-run-data
  margin: 8px;

table.my-table tr.tr-no-data-in-table
  border none
  .td-no-data-in-table
    text-align center
    font-style italic

/*table style*/
.table > thead > tr > th,
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
  vertical-align: middle;

//one row white and one row will set color
.table tbody tr:nth-child(even)
  //background-color: #E8E8E8;
table.my-table
  display: table;
  width: 100%;
  color rgba(0, 0, 0, 0.87);
  .text-of-footer-table
    color rgba(0, 0, 0, 0.54);
  a
    color rgba(0, 0, 0, 0.54);
  a.link-asc-or-desc-of-header-table
    color rgba(0, 0, 0, 0.87);

table.my-table thead, table.my-table tbody
  float: left;
  width: 100%;
  table-layout: fixed;

table.my-table tbody
  overflow: auto;
  height: auto;

table.my-table .my-select-data
  background-color: #EEEEEE;
  color: #212121;

//@media (max-width: 700px)
table.my-table
  margin 0
  border 0

table.my-table thead
  display: none;

table.my-table tr
  margin-bottom: 8px;
  display: block;
  position: relative;
  border-top: 2px solid #ddd;

table.my-table td
  width: auto;
  display: block;
  text-align: left;
  font-size: 13px;
  margin-left: 80px;
  margin-right: 80px;

table.my-table td.checkbox-col
  width: 40px;

table.my-table td.action-col
  width: 40px;

table.my-table td:first-child
  font-size: 13px;
  position: absolute;
  left: 8px;
  top: 0px;
  margin: 0;

table.my-table td:last-child
  font-size: 13px;
  position: absolute;
  margin: 0;
  right: 8px;
  top: 12px;
  border-bottom: 0;

table.my-table td.my-td
  padding: 4px;
  border: 0
  outline-color: transparent;

table.my-table
  td.action-col
    .my-icon
      color rgba(0, 0, 0, 0.54)
      vertical-align middle
      font-size 24px

.action-col .md-button
  box-shadow none
  padding: 0
  line-height: normal
  margin: 0
  min-height 0
  min-width 0

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
  border-top: hidden;

//-------------------------------
@media(min-width: 700px)
  table.my-table thead
    display: block;
  table.my-table tr
    width: 100%;
    display: table;
    text-align: left;
    border none
    border-bottom 1px solid #DADADA
    outline-color: transparent;
    margin 0

  table.my-table tfoot
    border-top 2px solid rgb(221, 221, 221)
  table.my-table tfoot > tr
    border none

  table.my-table th.checkbox-col
    width: 10%;
    padding: 0 8px;

  table.my-table thead > tr > th
    width: 30%;
    color rgba(0, 0, 0, 0.54);
    padding: 0;

  table.my-table th.action-col
    width: 30%;

  table.my-table td.checkbox-col
    width: 10%;

  table.my-table td.checkbox-col md-checkbox
    display inline

  table.my-table td
    width: 30%;
    display table-cell
    font-size 14px

  table.my-table td.action-col
    width: 30%;

  table.my-table td.my-td
    padding: 0
    border: 0
    outline-color: transparent;

  table.my-table td:first-child
    position: static;
    padding: 0 8px;

  table.my-table td:last-child
    position: static;
    padding: 0

  .action-col .md-button
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    line-height: normal
    margin: 6px
    height auto
    width auto
    min-height 32px
    min-width 84px

    span
      color rgba(0, 0, 0, 0.54)