.my-song-of-playlist {
  display: inline;
  font-style: italic;
}

table.my-table th.name-playlist {
  width: 30%;
}

table.my-table th.description-playlist {
  width: 30%;
}

table.my-table td.name-playlist {
  width: 30%;
}

table.my-table td.description-playlist {
  width: 30%;
}

@media (max-width: 500px) {
  table.my-table td.name-playlist {
    width: auto;
  }

  table.my-table td.description-playlist {
    width: auto;
  }

  table td.name-playlist {
    font-weight: bold;
  }
}