@import '../../../node_modules/nib/lib/nib'
@import '../main/constant.styl'

.linked-show-songs
  display inline-block
  margin-left 8px

.my-listSong-in-playlist
  .md-no-style.md-list-item-inner
    padding 0
  .item-list-divider
    left 80px

.my-listSong-in-playlist .face
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;

.my-back-button
  text-align right
  .md-button
    margin-top 8px
    margin-bottom 16px

.last-divider
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, .26)

.my-song-of-playlist
  display: inline;
  font-style: italic;

.my-listSong-in-playlist
  height auto
  overflow auto
  line-height normal

.list-items
  .name-song-in-playlist
    width 90%
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  .artist-song-in-playlist
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

.my-form-content .header-show-songs
  .checkbox-add-all-song
    display inline

//.md-subhead, md-list-item.md-2-line .md-list-item-text h3, md-list-item.md-2-line>.md-no-style .md-list-item-text h3, md-list-item.md-3-line .md-list-item-text h3, md-list-item.md-3-line>.md-no-style .md-list-item-text h3
//  line-height normal
//  font-size 14px

table.my-table td.name-playlist
  width: 120px;
  max-width none
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;

table.my-table td.description-playlist
  width: 120px;
  max-width none
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

@media (min-width: 700px)
  table.my-table th.name-playlist
    width: 30%;

  table.my-table th.description-playlist
    width: 30%;

  table.my-table td.name-playlist
    width: 30%;
    max-width 0
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;

  table.my-table td.description-playlist
    width: 30%;
    max-width 0
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;



.card__front,
.card__back 
  position: absolute;
  top 0;
  left 0;
  width 100%;
  height 100%;

  backface-visibility hidden;
  transition transform 0.3s;
  transform-origin 32px

.card__front
  //background-color: #ff5078;

.card__back 
  font-size 48px
  //background-color: #1e1e1e;
  transform rotateY(-180deg);
  .checkbox-of-list-item
    color $accent-color
  .checkbox-create-by-border
    margin 24px
    width: 36px;
    border: 2px solid $accent-color;
    border-top-style: none;
    border-right-style: none;
    transform: rotate(-45deg);
    height: 16px;

.list-items-of-page-choose-songs
  margin-left 80px

/* click effect */
.card.effect__click.flipped .card__front 
  transform rotateY(-180deg);

.card.effect__click.flipped .card__back
  transform rotateY(0);

