@import '../../main/constant'

.my-dialog-select-song {
  font-size: 14px;
  height: auto;
}

.my-side-left-songsCurrent {
  display: inline-block;
  width: 44%;
  vertical-align: top;
}

.my-side-middle-addAndRemove {
  display: inline-block;
  width: 8%;
  vertical-align: middle;
  color $accent-color
}

.my-side-right-songs {
  display: inline-block;
  width: 44%;
  vertical-align: top;
}

.my-side-middle-addAndRemove {
  margin-top: 32px;
}

.my-side-middle-addAndRemove .remove-song {
  display: block;
  margin: 0 auto;
  width: auto;
}

.my-side-middle-addAndRemove .add-song {
  display: block;
  margin: 0 auto;
  width: auto;
}

.item-list .md-no-style {
  padding: 0;
}

.item-list .song-name {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-list .artist-name {
  font-style: italic;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-list .title-list {
  font-size: 15px;
  font-weight: bold;
}

.item-list .md-list-item-inner > md-checkbox:first-child, md-list-item > md-checkbox:first-child {
  margin-right: 12px;
  margin-left: 0;
}

/*change of material angularjs*/
md-list-item, md-list-item .md-list-item-inner {
  min-height: 0;
}

p {
  margin: 0;
}

.title-select-song
  font-weight bold

.context-side
  overflow auto
  height 400px
  width 100%

.icon-select-song
  font-size 24px